<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Analysis</title>
    <style>
      .img-container {
        text-align: center;
      }
    </style>
</head>
<body>
<h2  class="img-container">Analysis of Wuzzuf Jobs Data set</h2>
<h2></h2>
<div class="img-container"><p>The Most popular Areas in Egypt having jobs</p></div>
<div  class="img-container"><img src="Areas.png" alt="Popular Areas" width="900" height="700" class="center"></div>
<div class="img-container"><p>The Popular Job Titles</p> </div>
<div  class="img-container"><img src="Jobs.png" alt="Popular Jobs" width="900" height="700" class="center"></div>
<div class="img-container"><p>The most demanding companies for jobs</p> </div>
<div  class="img-container"><img src="Companies.png" alt="Popular Companies" width="900" height="700" class="center"></div>

</body>
</html>